[core]
	editor = code --wait
[user]
	email = melanie.wang@shopify.com
	name = Melanie Wang
	user = mllemango@users.noreply.github.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cim = commit -m
	pf = push --force-with-lease
	amend = commit --amend --no-edit
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	p = pull
[pager]
	branch = false
[pull]
	ff = false
	rebase = true
[branch]
	sort = -committerdate
[help]
	autoCorrect = 1
[push]
	default = current
[include]
	path = /Users/melaniewang/.config/dev/gitconfig
